body {
    background: url(./img/background_yellow.jpeg) no-repeat center center fixed;
    background-size: cover;

}



/* .list-group {
    background-color: red !important;
    backdrop-filter: blur(15px);
} */

.btn{
	/* box-shadow: none !important */
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@media screen and (max-width: 800px) {
    #container{
        width: 95% !important;
    }

    .input-group.mb-3.w-75{
        width: 103% !important;
    }
}

